docs/build
__pycache__
interactions_DB.csv
failures.log
results
full_DB.csv
human_proteome.fasta
estradiol_smile
run_errors.log
DB_gen_errors.log
input_files
interactions_DB_small.csv
chembl_data.csv
**/.ipynb_checkpoints/**