pdb_chembl_ligands_pfam.csv
chembl_targets_with_pdb.csv
alternative.py
pdb_files
saved_dictionary.pkl
old_functions.py
pdb_results.pkl
ligand.csv
pfam.csv
interactions.csv
__pycache__
interactions_output
ligand_pfam_output
ligand_ligand.csv
ligand_pfam.csv
pfam_ligand.csv
pfam_pfam.csv