docs/build
__pycache__
interactions_DB.csv
failures.log
results
full_DB.csv
human_proteome.fasta
estradiol_smile
run_errors.log
DB_gen_errors.log
input_files
encoding_testings/.ipynb_checkpoints/Untitled-checkpoint.ipynb
run/.ipynb_checkpoints/chembert-checkpoint.py
interactions_DB_small.csv
encoding_testings/.ipynb_checkpoints/chemberta_tanimoto-checkpoint.ipynb
